#GameContainer
{
	background: black url("../games_resources/Cheeser/images/wood_floor_1.png") repeat;
}

body
{
	font-family: Verdana;	
}

.hidden_imgs
{
	display: none;
}

#GameRating
{
	position: absolute;
	top: 150px;
	left: 50px;
	z-index: 1000;
	display: none;
	background-color: #fcfaf5;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

#GameStats
{
	text-align: center;
	position: fixed;
	z-index: 2000;
}

#GameMenu
{
	position: absolute;
	left: 500px;
	top: 150px;
	width: 400px;
	height: 200px;
	background: #404d59 url("../games_resources/Cheeser/images/wood_floor_1.png") repeat;
	border: 2px soli black;
	z-index: 1000;
	display: none;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
#GameHeader
{
	width: 100%;
	height: 40%;
	font-size: 230%;
	border-bottom: 1px solid white;	
}
#GameHeaderText
{
	margin: 0 auto;
}
#SurvivalGame
{
	cursor: pointer;
	border-bottom: 1px solid white;		
	width: 100%;
	height: 30%;
	transition: background-color 1s;
}
#SurvivalGame:hover
{
	background-color: green;
	opacity: 0.5;
	transition: background-color 1s opacity 1s;
}

#LevelGame
{
	cursor: pointer;
	width: 100%;
	height: 30%;
}

#LevelGame:hover
{
	background-color: green;
	opacity: 0.5;
	transition: background-color 1s opacity 1s;
}
#GameResult
{
	
	position: absolute;
	left: 20%;
	top: 20%;
	width: 400px;
	height: 300px;
	background: #404d59 url("../games_resources/Cheeser/images/wood_floor_1.png") repeat;
	border: 2px soli black;
	z-index: 1000;
	display: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



#ResultBlock
{
	width: 100%;
	height: 40%;
	background-color: white;
}
#ResultStatus
{
	width: 100%;
	height: 30%;
	background-color: green;
}
#ResultBlock #RatsKilledResult
{
	width: 100%;
	height: 50%;
	background-color: #f8f4ff;
}
#ResultBlock #TimeResult
{
	width: 100%;
	height: 50%;
	background-color: #f8f4ff;
}

#RestartButton
{
	height: 30%;
	width: 100%;
	background-color: #e6ecf5;
	cursor: pointer;

}

.Text
{
	font-size: 200%; 
	text-align: center;
	position: relative;
}
