#GameContainer
{
	background: black url("../games_resources/Cheeser/images/wood_floor_1.png") repeat;
}

body
{
	font-family: Verdana;	
}

body img
{
	display: none;
}

#GameStats
{
	text-align: center;
}

#GameMenu
{
	position: absolute;
	left: 300px;
	top: 300px;
	width: 30%;
	height: 30%;
	background-color: yellow;
	border: 3px dashed black;
	z-index: 1000;
	display: none;
}

#NewGame
{
	position: relative;
	left: 30%;
	top: 30%;
	width: 50%;
	height: 50%;
	background-color: white;
	border: 3px solid black;
}

#GameResult
{
	position: absolute;
	width: 40%;
	height: 50%;
	background-color: red;
	border: 1px dashed black;
	z-index: 10010;
	display: none;
}

#ResultStatus
{
	width: 100%;
	height: 30%;
	background-color: green;
}
#ResultBlock
{
	position: relative;
	left: 30%;
	top: 30%;
	width: 50%;
	height: 40%;
	background-color: white;
	border: 1px solid black;	
}
#ResultBlock #RatsKilledResult
{
	width: 100%;
	height: 50%;
	background-color: yellow;
}
#ResultBlock #TimeResult
{
	width: 100%;
	height: 50%;
	background-color: blue;
}

#RestartButton
{
	height: 30%;
	width: 100%;
	background-color: white;
}
